numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
plotly
altair
bokeh
pillow
opencv-python
jupyter
tiktoken==0.3.3 
termcolor 
arxiv 
PyPDF2 
tqdm 
anthropic
sentence_transformers
transformers==4.44.2